---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
  </head>
  <body class="is-preload">
    <slot />
    
    <!-- Scripts - Exact copy from current site -->
    <script is:inline src="/assets/js/jquery.min.js"></script>
    <script is:inline src="/assets/js/jquery.scrolly.min.js"></script>
    <script is:inline src="/assets/js/jquery.scrollex.min.js"></script>
    <script is:inline src="/assets/js/browser.min.js"></script>
    <script is:inline src="/assets/js/breakpoints.min.js"></script>
    <script is:inline src="/assets/js/util.js"></script>
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>