---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alejandro Cabral - Portfolio">
  <!-- Nav - Exact copy from current index.html -->
  <nav id="nav">
    <ul class="container">
      <li><a href="#top">Top</a></li>
      <!-- Work and Portfolio commented out as in original -->
      <!-- <li><a href="#work">Work</a></li>
      <li><a href="#portfolio">Portfolio</a></li> -->
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Home - Exact copy with real data -->
  <article class="wrapper style4">
    <div id="top" class="container fadeIn">
      <div class="row">
        <div class="col-4 col-5-large col-12-medium">
          <span class="image fit blackAndWhite">
            <img src="/images/programmer.jpg" alt="Computer with code" />
          </span>
        </div>
        <div class="col-8 col-7-large col-12-medium">
          <header>
            <h1>Hi. I'm <strong class="gradient-text">Alejandro Cabral</strong></h1>
          </header>
          <p>I'm a <strong>Software Developer</strong>, currently studying Computer Sciente at <a href="https://www.pol.una.py/">FP-UNA</a>.</p>
          &nbsp
          <ul class="social">
            <li><a href="https://github.com/alcabvaldo" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/alejandro-nicolas-cabral-valdovinos-8253a9186/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <!-- Contact - Exact copy with real data -->
  <article id="contact" class="wrapper style4">
    <div class="container medium">
      <a href="mailto:alejandrocabralvaldovinos@gmail.com" class="button large scrolly">Contact</a>
      <footer>
        <h3 class="gradient-text">Find me on ...</h3>
        <ul class="social">
          <li><a href="https://github.com/alcabvaldo" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://www.linkedin.com/in/alejandro-nicolas-cabral-valdovinos-8253a9186/0" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          <li><a href="https://twitter.com/alcabvaldo" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.instagram.com/ale_cabr4l/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <hr>
        <ul id="copyright">
          <li>&copy; Untitled. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>
    </div>
  </article>
</Layout>
