---
// Contact section component
const contactInfo = {
  email: "alejandrocabralvaldovinos@gmail.com",
  socialLinks: [
    {
      name: "GitHub",
      url: "https://github.com/alcabvaldo",
      icon: "fa-github",
      label: "Github"
    },
    {
      name: "LinkedIn",
      url: "https://www.linkedin.com/in/alejandro-nicolas-cabral-valdovinos-8253a9186/0",
      icon: "fa-linkedin-in", 
      label: "LinkedIn"
    },
    {
      name: "Twitter",
      url: "https://twitter.com/alcabvaldo",
      icon: "fa-twitter",
      label: "Twitter"
    },
    {
      name: "Instagram",
      url: "https://www.instagram.com/ale_cabr4l/",
      icon: "fa-instagram",
      label: "Instagram"
    }
  ]
};
---

<article id="contact" class="wrapper style4">
  <div class="container medium" data-sal="fade" data-sal-duration="600">
    <a href={`mailto:${contactInfo.email}`} class="button large scrolly" data-sal="zoom-in" data-sal-delay="200" data-sal-duration="500">Contact</a>
    <footer>
      <h3 class="gradient-text" data-sal="slide-up" data-sal-delay="300" data-sal-duration="400">Find me on ...</h3>
      <ul class="social" data-sal="slide-up" data-sal-delay="400" data-sal-duration="500">
        {contactInfo.socialLinks.map(link => (
          <li><a href={link.url} class={`icon brands ${link.icon}`}><span class="label">{link.label}</span></a></li>
        ))}
      </ul>
      <hr data-sal="slide-up" data-sal-delay="500" data-sal-duration="300">
      <ul id="copyright" data-sal="fade" data-sal-delay="600" data-sal-duration="400">
        <li>&copy; Untitled. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>
  </div>
</article>